.merriweather-normal {
    font-family: "Merriweather", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

.inter-normal {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}



/* Shared Style */
.cmn-description {
    font-size: 18px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.8);
}

.cmn-description2 {
    font-size: 20px;
    font-weight: 500;
    color: rgba(7, 2, 17, 0.6);
}



/* Header-Banner Section Design start */
.banner {
    display: flex;
    background: linear-gradient(to right, rgba(7, 2, 17, 1), rgba(7, 2, 17, 0)), url("../images/Vectorrr.png");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 60px 166px;
    border-radius: 16px;
    padding: 68px 128px;
    gap: 40px;
    justify-content: center;
}

.banner-title {
    font-size: 64px;
    font-weight: 900;
    color: rgba(255, 255, 255, 1);
    margin-bottom: 24px;
}

.banner a {
    text-decoration: none;
    font-size: 25px;
    font-weight: bold;
    color: rgba(255, 255, 255, 1);
    margin-left: 32px;
    display: inline-block;
    margin-top: 48px;
}

.banner-text {
    max-width: 697px;
}

/* header section complete */


/* weiver Section design start */

.weiver {
    text-align: center;
}

.weiver h1 {
    font-size: 88px;
    font-weight: bold;
    color: rgba(255, 0, 0, 1);
    margin-bottom: 35px;
}

.weiver p {
    font-size: 24px;
    font-weight: 500;
    color: rgba(255, 0, 0, 1);
    margin-bottom: 0px;
}

.weiver h3 {
    margin-top: 10px;
    font-size: 48px;
    font-weight: bold;
    color: rgba(7, 2, 17, 1);
    margin-bottom: 48px;
}

/* weiver section design end */


/* Happy New Year section design start */
.new-year {
    background: linear-gradient(to bottom, rgba(7, 2, 17, 1), rgba(7, 2, 17, 0)), url("../images/Banner\ Image.png");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 120px 166px;
    padding: 177px 344px;
    border-radius: 16px;
}

.new-year p {
    font-size: 32px;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
    margin-bottom: 16px;
}

.new-year h1 {
    font-size: 72px;
    font-weight: 900;
    color: rgba(255, 255, 255, 1);
    margin-top: 16px;
}

.new-year div {
    width: 632px;
    text-align: center;
    margin: 0 auto;
}

/* Happy New Year section end */


/* Address or location section design start */
.location {
    background: linear-gradient(to bottom, rgb(245, 212, 212), rgba(255, 0, 0, 0));
    text-align: center;
    border: none;
    border-radius: 19px;
    padding: 125px 0 125px 0;
    margin: 0px 166px 120px 166px;
}

.location span {
    color: rgba(255, 0, 0, 1);
}

.location p {
    font-size: 38px;
    font-weight: 600;
    color: rgba(7, 2, 17, 1);
}

.location button {
    padding: 19px 38px;
    font-size: 24px;
    font-weight: bold;
    color: rgba(255, 255, 255, 1);
    background-color: rgba(255, 0, 0, 1);
    border: none;
    border-radius: 10px;
    margin-top: 57px;
}

/* location section design end */


/* offer section design start */
.offer {
    display: flex;
    gap: 120px;
    justify-content: center;
    align-items: center;
    margin: 0 166px 0 166px;
}

.info-container {
    width: 393px;
}

.ellipse img {
    border: 15px solid rgba(255, 0, 0, 1);
    border-radius: 50%;
    padding: 30px;
}

.last-dv {
    width: 276px;
}

.off-title {
    font-size: 25px;
    font-weight: 500;
    color: rgba(255, 0, 0, 1);
}

.off-h {
    font-size: 48px;
    font-weight: 900;
    color: rgba(7, 2, 17, 1);
    margin-top: 15px;
    margin-bottom: 15px;
}

.four {
    font-size: 48px;
    font-weight: bold;
    color: rgba(255, 0, 0, 1);
    margin-bottom: 16px;
}

/* offer section design end */



/* Holidays section design start */
.holiday {
    background-image: url(../images/unseen.png);
    background-repeat: no-repeat;
    background-position: bottom;
    margin-top: 120px;
    margin-bottom: 120px;
}

.holiday-info {
    text-align: center;
    max-width: 870px;
    margin: 0 auto;
}

.info-title {
    font-size: 24px;
    font-weight: 500;
    color: rgba(7, 2, 17, 1);
}

.holiday-info span {
    color: rgba(7, 2, 17, 1);
}

.holiday-info h1 {
    font-size: 72px;
    font-weight: 900;
    color: rgba(255, 0, 0, 1);
    margin-top: 16px;
    margin-bottom: 28px;
}

.holiday-img {
    display: flex;
    gap: 240px;
    justify-content: center;
    margin-top: 64px;
}

/* holiday section design complete */


/* portfolio section design start */
.portfolio {
    max-width: 1320px;
    margin: 0 auto;
}

.port-info {
    width: 890px;
}

.portfolio-img {
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
}
/* portfolio section complete */

/* sub-footer section design start */
.sub-foot{
    background-color: rgba(255, 0, 0, 0.05);
    text-align: center;
    padding: 95px 252px;
    margin: 100px 166px;
    border-radius: 16px;
}
.sub-foot button{
    font-size: 20px;
    font-weight: 600;
    color: rgba(255, 255, 255, 1);
    padding: 24px 56px;
    background-color: rgba(255, 0, 0, 1);
    border: none;
    border-radius: 0 50px 50px 0;
    margin-left: -10px;
}
.sub-foot input{
    font-size: 18px;
    font-weight: 400px;
    padding: 25px 30px;
    background-color: rgba(255, 255, 255, 1);
    border: none;
    width: 50%;
    border-radius: 50px 0 0 50px;
    margin-right: -10px;
}
.sub-foot-form{
    display: flex;
    justify-content: center;
    margin-top: 48px;
}
/* sub-footer section design end */

/* real footer section design start */
.foot{
    background-color: rgba(7, 2, 17, 1);
    padding: 142px 166px;
    border-radius: 10px;
}
.foot-top{
    display: flex;
    justify-content: space-between;
}
.ft-tp-txt{
    font-size: 24px;
    font-weight: 500;
    color: rgba(255, 255, 255, 1);
}
.foot-mid{
    display: flex;
    gap: 24px;
    justify-content: center;
    margin-top: 48px;
    margin-bottom: 48px;
}